파일 이름 : 이름_Week5_2

# [차이를 최소로](#차이를최소로)

## 출처
https://www.acmicpc.net/problem/3090

# 선행학습

# 차이를최소로

## 문제
정수 N개로 이루어진 배열 A가 주어진다. 상근이는 수열의 수 하나를 골라서 값을 1 감소시킬 수 있다. 단, 수는 1보다 작아질 수 없다.

상근이는 위의 감소시키는 연산을 최대 T번 하려고 한다. 이때, 인접한 수의 차이의 최댓값을 최소로 하는 프로그램을 출력하시오.

## 입력

첫째 줄에 N과 T가 주어진다.$(2 ≤ N ≤ 100 000, 1 ≤ T ≤ 10^9)$

둘째 줄에는 배열에 들어있는 수가 주어진다. (109보다 작은 자연수)

## 출력
첫째 줄에 인접한 수의 차이의 최댓값을 가장 작게한 배열 A의 내용을 공백으로 구분하여 출력한다. 최대 T번 감소시켜야 한다.

## 풀이

In [2]:
import copy

In [3]:
N, T = [int(x) for x in input().split()]
ar = [int(x) for x in input().split()]
array = copy.deepcopy(ar)
def get_max_diff(array):
    diff_ls = [(abs(array[i+1] - array[i]), i+1)  if array[i+1] > array[i] else (abs(array[i+1] - array[i]), i) for i in range(N -1)]
    return diff_ls
def get_max_diff_idx(array):
    diff_ls = get_max_diff(array)
    return max(get_max_diff(array))[1]
for i in range(T):
    idx = get_max_diff_idx(array)
    array[idx] -= 1
" ".join([str(x) for x in array])

 5 5
 4 2 3 7 6

'3 2 3 4 5'

In [6]:
N, T = [int(x) for x in input().split()]
ar = [int(x) for x in input().split()]
array = copy.deepcopy(ar)
def get_max_diff(array):
    diff_ls = [(abs(array[i+1] - array[i]), i+1)  if array[i+1] > array[i] else (abs(array[i+1] - array[i]), i) for i in range(N -1)]
    return diff_ls
def get_max_diff_idx(array):
    diff_ls = get_max_diff(array)
    return max(get_max_diff(array))
while T > 0:
    val, idx = get_max_diff_idx(array)
    T -= val // 2
    array[idx] -= val // 2
" ".join([str(x) for x in array])

 5 5
 4 2 3 7 6

'3 2 3 4 5'

In [14]:
a = "asd Kim asd"

In [15]:
a.find("Kim")

4

In [29]:
a = ["Jane", "Kim"]

In [36]:
def solution(seoul):
    answer = [idx for idx, val in enumerate(seoul) if val == "Kim"][0]
    return f"김서방은 {answer}에 있다"

In [37]:
solution(a)

'김서방은 1에 있다'