## 크레인 인형 뽑기
https://programmers.co.kr/learn/courses/30/lessons/64061

In [ ]:
def solution(board, moves):
    result = []
    answer = 0
    for i in moves:
        for j in range(len(board)):
            if board[j][i-1] != 0:
                result.append(board[j][i-1])
                board[j][i-1] = 0
                break
        if len(result) > 1:    
            if result[-2] == result[-1]:
                answer += 2
                del result[-1]
                del result[-1]
    return answer

## 완주하지 못한 선수
https://programmers.co.kr/learn/courses/30/lessons/42576

In [ ]:
def solution(participant, completion):
    p = sorted(participant)
    c = sorted(completion)
    for i in range(len(c)):
        if c[i] != p[i]:
            answer = p[i]
            return answer
            break
    answer = p[-1]
    return answer

## 모의고사
https://programmers.co.kr/learn/courses/30/lessons/42840

In [ ]:
def solution(answers):
    first = list(map(int, '12345' * (len(answers)//5 + 1)))
    second = list(map(int, '21232425' * (len(answers)//8 + 1)))
    third = list(map(int, '3311224455' * (len(answers)//10 +1)))
    
    f = 0
    s = 0
    t = 0
    
    for i in range(len(answers)):
        if answers[i] == first[i]:
            f += 1
        if answers[i] == second[i]:
            s += 1
        if answers[i] == third[i]:
            t += 1
    
    group = [f, s, t]
    answer = []
    
    for j in range(len(group)):
        if group[j] == group[j-1]:
            if group[j] >= group[j-2]:
                answer.append(j+1)
        elif group[j] > group[j-1]:
            if group[j] > group[j-2]:
                answer.clear()
                answer.append(j+1)
            elif group[j] == group[j-2]:
                answer.append(j+1)
                
    return answer

## 체육복
https://programmers.co.kr/learn/courses/30/lessons/42862

In [ ]:
def solution(n, lost, reserve):
    lost_n = lost.copy()
    for i in lost:
        if i in reserve:
            reserve.remove(i)
            lost_n.remove(i)
        elif i-1 in reserve and i-1 not in lost:
            reserve.remove(i-1)
            lost_n.remove(i)
        elif i+1 in reserve and i+1 not in lost:
            reserve.remove(i+1)
            lost_n.remove(i)
    answer = n - (len(lost_n))
    return answer

## K번째 수
https://programmers.co.kr/learn/courses/30/lessons/42748

In [ ]:
def solution(array, commands):
    piece = []
    pieces = []
    for i in range(len(commands)):
        piece = sorted(array[(commands[i][0])-1:commands[i][1]])
        pieces.append(piece[commands[i][2]-1]) 
    return pieces

## 2016년
https://programmers.co.kr/learn/courses/30/lessons/12901

## 가운데 글자 가져오기
https://programmers.co.kr/learn/courses/30/lessons/12903

## 같은 숫자는 싫어
https://programmers.co.kr/learn/courses/30/lessons/12906

## 나누어 떨어지는 숫자 배열
https://programmers.co.kr/learn/courses/30/lessons/12910

## 두 정수 사이의 합
https://programmers.co.kr/learn/courses/30/lessons/12912

## 문자열 내 마음대로 정렬하기
https://programmers.co.kr/learn/courses/30/lessons/12915

In [47]:
strings = ["abce", "cdx", "abcd"]
n = 2

In [ ]:
strings.sort()

In [63]:
def solution(strings, n):
    strings.sort()
    answer = sorted(strings, key = lambda x: x[n])
    return answer

In [64]:
solution(strings, n)

['abcd', 'abce', 'cdx']

strings_n = [["abce","abcd"], ["cdx"]]
strings_nn = sorted(strings_n)
딕셔너리에 넣어서 strings의 각 원소를 key로,
각 원소 슬라이싱 한것을 value로 함.
value를 기준으로 오름차순 정렬.
key값만 넣은 리스트 생성하고 리스트 반환.

In [42]:
strings_n = [["abce","abcd"], ["cdx"]]

In [43]:
len(strings_n)

2

In [45]:
strings_n = [["abce","abcd"], ["cdx"]]
strings_nn = []
for i in range(len(strings_n)):
    strings_nn.append(sorted(strings_n[i]))

In [46]:
strings_nn

[['abcd', 'abce'], ['cdx']]

## 문자열 내의 p와 y의 개수
https://programmers.co.kr/learn/courses/30/lessons/12916

In [7]:
s = "pPoooyY"

In [5]:
S = s.upper()

In [6]:
S.count('P')

2

In [15]:
def solution(s):
    S = s.upper()
    if S.count('P') == S.count('Y'):
        return True
    else:
        return False

In [16]:
solution(s)

True

if s.upper.count('P') == s.upper.count('Y')
이렇게 한줄로 짤 수 있음

## 문자열 내림차순으로 배치하기
https://programmers.co.kr/learn/courses/30/lessons/12917

In [21]:
s = "ZbcdAefg"
# answer = "gfedcbZA"

In [28]:
ls = sorted(list(s), reverse = True)

In [29]:
ls

['g', 'f', 'e', 'd', 'c', 'b', 'Z', 'A']

In [30]:
def solution(s):
    ls = sorted(list(s), reverse = True)
    answer = ''.join(ls)
    return answer

In [31]:
solution(s)

'gfedcbZA'

## 문자열 다루기 기본
https://programmers.co.kr/learn/courses/30/lessons/12918

In [32]:
s = '12345'

In [36]:
def solution(s):
    if s.isdigit() == True:
        if len(s) == 4:
            answer = True
        elif len(s) ==6:
            answer = True
        else:
            answer = False
    else:
        answer = False
    return answer

In [37]:
solution(s)

False

def alpha_string46(s):
    return s.isdigit() and len(s) in (4, 6)

if len(s) == 4 or len(s) ==6 이라고 해야하지,
len(s) == 4 or 6 이라고 하면 안됨

## 서울에서 김서방 찾기
https://programmers.co.kr/learn/courses/30/lessons/12919

In [ ]:
seoul = ["Jane",'Kim']

In [ ]:
def solution(seoul):
    idx = seoul.index("Kim")
    answer = '김서방은 %s에 있다'%idx
    return answer

## 소수 찾기
https://programmers.co.kr/learn/courses/30/lessons/12921

In [26]:
n = 13

In [111]:
n = 1400
sosu1 = [2, 3, 5, 7]
#sosu2 = [x for x in range(2,n+1) if len([y for y in sosu1 if x%y == 0]) == 0]
sosu2 = [x for x in range(2,n+1) if not [y for y in sosu1 if x%y == 0]]
sosu2

[11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 121,
 127,
 131,
 137,
 139,
 143,
 149,
 151,
 157,
 163,
 167,
 169,
 173,
 179,
 181,
 187,
 191,
 193,
 197,
 199,
 209,
 211,
 221,
 223,
 227,
 229,
 233,
 239,
 241,
 247,
 251,
 253,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 289,
 293,
 299,
 307,
 311,
 313,
 317,
 319,
 323,
 331,
 337,
 341,
 347,
 349,
 353,
 359,
 361,
 367,
 373,
 377,
 379,
 383,
 389,
 391,
 397,
 401,
 403,
 407,
 409,
 419,
 421,
 431,
 433,
 437,
 439,
 443,
 449,
 451,
 457,
 461,
 463,
 467,
 473,
 479,
 481,
 487,
 491,
 493,
 499,
 503,
 509,
 517,
 521,
 523,
 527,
 529,
 533,
 541,
 547,
 551,
 557,
 559,
 563,
 569,
 571,
 577,
 583,
 587,
 589,
 593,
 599,
 601,
 607,
 611,
 613,
 617,
 619,
 629,
 631,
 641,
 643,
 647,
 649,
 653,
 659,
 661,
 667,
 671,
 673,
 677,
 683,
 689,
 691,
 697,
 701,
 703,
 709,
 713,
 719,
 727,
 731,
 733,
 737,
 739,
 743,
 751,
 757,
 761,
 767,
 769,
 773,
 779,
 781,
 787,
 793,
 797,
 799,
 803,
 809,
 811,
 817,
 821,
 823,
 827,
 829,
 839,
 841,
 851,
 853,
 857,
 859,
 863,
 869,
 871,
 877,
 881,
 883,
 887,
 893,
 899,
 901,
 907,
 911,
 913,
 919,
 923,
 929,
 937,
 941,
 943,
 947,
 949,
 953,
 961,
 967,
 971,
 977,
 979,
 983,
 989,
 991,
 997,
 1003,
 1007,
 1009,
 1013,
 1019,
 1021,
 1027,
 1031,
 1033,
 1037,
 1039,
 1049,
 1051,
 1061,
 1063,
 1067,
 1069,
 1073,
 1079,
 1081,
 1087,
 1091,
 1093,
 1097,
 1103,
 1109,
 1111,
 1117,
 1121,
 1123,
 1129,
 1133,
 1139,
 1147,
 1151,
 1153,
 1157,
 1159,
 1163,
 1171,
 1177,
 1181,
 1187,
 1189,
 1193,
 1199,
 1201,
 1207,
 1213,
 1217,
 1219,
 1223,
 1229,
 1231,
 1237,
 1241,
 1243,
 1247,
 1249,
 1259,
 1261,
 1271,
 1273,
 1277,
 1279,
 1283,
 1289,
 1291,
 1297,
 1301,
 1303,
 1307,
 1313,
 1319,
 1321,
 1327,
 1331,
 1333,
 1339,
 1343,
 1349,
 1357,
 1361,
 1363,
 1367,
 1369,
 1373,
 1381,
 1387,
 1391,
 1397,
 1399]

In [53]:
    n = 3
    sosu1 = [2, 3, 5, 7]
    if n <10:
        for i in range(len(sosu1)):
            if n < sosu1[i]:
                answer = len(sosu1[0:i])
                break
    answer

2

In [101]:
    n = 1000
    sosu1 = [2, 3, 5, 7]
    sosu2 = [x for x in range(2,n+1) if not [y for y in sosu1 if x%y == 0]]
    sosu3 = []
    for j in sosu2:
        for k in sosu2:
            if j <= k and j*k in sosu2:
                sosu2.remove(j*k)
            
    answer = 4 + len(sosu2) - len(sosu3)*(len(sosu3)+1)/2

In [102]:
sosu3

[11, 13, 17, 19, 23, 29, 31]

In [ ]:
def solution(n):    
    sosu1 = [2, 3, 5, 7]
    if n <10:
        for i in range(len(sosu1)):
            if n < sosu1[i]:
                answer = len(sosu1[0:i])
                break
            
    elif n<121: #121부터 두자리수 소수 곱하기 두자리수 소수가 시작됨
        sosu2 = [x for x in range(2,n+1) if not [y for y in sosu1 if x%y == 0]]
        #2,3,5,7 모두로 나누어지지 않는 수 = 소수
        answer = 4 + len(sosu2)

    else:
        sosu2 = [x for x in range(2,n+1) if not [y for y in sosu1 if x%y == 0]]
        #2,3,5,7로 나누어지지않는 수들
        sosu3 = []
        for j in sosu2:
            if j*j <= sosu2[-1]:
                sosu3.append(j) #sosu3는 sosu2에 있는 숫자들을 나눌수있는 소수 
            else:
                break #j*j가 sosu2에 있는 숫자들중에 가장 큰 숫자보다 크다면 시간절약을 위해 for문 탈출
        answer = 4 + len(sosu2) - len(sosu3)*(len(sosu3)+1)/2
        #sosu2에서 제외할 원소들의 숫자는 sosu3를 조합해서 만들 수 있는 숫자 = n(n+1)/2
        #예를 들어 sosu3 = [11,13,17] -> 11*11, 11*13, 11*17, 13*13, 13*17, 17*17 = 6개 
    return answer

In [121]:
def solution(n):    
    sosu1 = [2, 3, 5, 7]
    if n <10:
        for i in range(len(sosu1)):
            if n < sosu1[i]:
                answer = len(sosu1[0:i])
                break
            
    elif n<121: #121부터 두자리수 소수 곱하기 두자리수 소수가 시작됨
        sosu2 = [x for x in range(2,n+1) if not [y for y in sosu1 if x%y == 0]]
        #2,3,5,7 모두로 나누어지지 않는 수 = 소수
        answer = 4 + len(sosu2)

    else:
        sosu2 = [x for x in range(2,n+1) if not [y for y in sosu1 if x%y == 0]]
        #2,3,5,7로 나누어지지않는 수들
        sosu3 = []
        for j in sosu2:
            for k in sosu2[sosu2.index(j):]: #11*13을 했다면 13*11은 할 필요없으므로 13*13부터
                if j*k <= sosu2[-1] and j*k not in sosu3: #j*k가 sosu2의 가장 큰 수 보다 작을때
                    #(121)*(121)과 (121*11)*11의 결과는 같으므로 중복되지 않을때만 sosu3에 담음
                    sosu3.append(j*k)
        answer = 4 + len(sosu2) - len(sosu3)
    return answer

In [122]:
solution(150)

35

## 수박수박수박수박수박수?
https://programmers.co.kr/learn/courses/30/lessons/12922

In [129]:
def solution(n):
    answer = ''
    if n%2 == 0:
        answer = '수박' * int(n/2)
    else:
        answer = '수' + '박수' * int((n-1)/2)
    return answer

In [130]:
solution(5)

'수박수박수'

## 문자열을 정수로 바꾸기
https://programmers.co.kr/learn/courses/30/lessons/12925

In [131]:
def solution(s):
    answer = int(s)
    return answer

In [133]:
solution("-1234")

-1234

In [ ]:
#다른사람풀이
def strToInt(str):
    result = 0

    for idx, number in enumerate(str[::-1]):
        if number == '-':
            result *= -1
        else:
            result += int(number) * (10 ** idx)

    return result

## 시저 암호
https://programmers.co.kr/learn/courses/30/lessons/12926

In [151]:
def solution(s, n):
    answer = s
    j = ''
    for i in s:
        if ord(i) >= 65 and ord(i) <=90:
            N = ord(i) + n
            if N > 90:
                N -= 26
            answer.replace(i, chr(N), 1)
        elif ord(i) >=97 and ord(i) <=120:
            N = ord(i) + n
            if N > 120:
                N -= 26
            answer.replace(i, chr(N), 1)
    return answer

In [152]:
solution("a B z", 4)

'a B z'

## 약수의 합
https://programmers.co.kr/learn/courses/30/lessons/12928

In [134]:
def solution(n):
    answer = 0
    for i in range(1, n+1):
        if n%i ==0:
            answer += i
    return answer

In [139]:
def solution(n):
    answer = sum(x for x in range(1, n+1) if n%x == 0)
    #리스트컴프리헨션이 sum안에 들어올 수 있음
    return answer

In [140]:
solution(20)

42